/* #212121 - основний колір (чорний) */
/* #757575 - другорядний колір (сірий) *
/* #FFFFFF - білий колір */
/* #2196F3 - колір акцент */

/* #FFFFFF - колір фону */
/* #2F303A - колір другорядного фону (сірий) */
/* #F5F4FA - колір другорядного фону (сірий темний) */
/* #ECECEC - колір рамки хедера */
/* #EEEEEE - колір рамки карток */
/* #AFB1B8- колір логотипів*/
/* rgba(47, 48, 58, 0.4) -color hero-img*/
/*rgba(255, 255, 255, 0.1); -color back for icon footer*/
:root {
    --title-text-color: #212121 ;
    --primary-text-color: #757575 ;
    --accent-text-color: #2196F3 ;
    --second-text-color: #FFFFFF ;
    --button-background-color: #F5F5F5 ;
    --footer-background-color: #2F303A;
    --second-text-color-footer: rgba(255, 255, 255, 0.6);
    --footer-background-icon: rgba(255, 255, 255, 0.1);
    --second-background-color:  #F5F4FA ;
    --header-bording-color: #ECECEC;
    --card-border: #EEEEEE;
    --hero-img: rgba(47, 48, 58, 0.4);
    --logo-color: #AFB1B8;
}
 .photos{
    display: flex;
    justify-content: space-around;
 } 

body {
    background-color: var(--second-text-color);
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}
.list-pictures{
    display: inline-flex;
    flex-wrap: wrap;
}


/*скинула відступи у списків*/
ul {
    padding-inline-start: 0px;
}

/* приховала h */
.visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
}

/*прибрала маркери */
.list {
    list-style: none;
}

/* main-nav */ 
.main-nav {
    display: flex;
    align-items: center;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* header */
.header{
    position: fixed;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid var(--header-bording-color);
    background-color: var(--second-text-color);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/*decoration*/


 /* logo header */
.decoration {
      text-decoration: none;
 }
.list.decoration{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
}

.logo {
    margin-right: 93px;
}
.logo .web {
    color: var(--accent-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo .studio {
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

/* site-nav */
.site-nav {
    display: flex;
}

/*відступи між site-nav*/
.site-nav .item {
    margin-right: 50px;
}
.site-nav .item:last-child {
    margin-right: 0px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

}

.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.site-nav .link.current {
    color: var(--accent-text-color);
}

.auth-nav {
    margin-left: auto;
}

/*contacts */
.contact-header{
    display: flex;
    color: var(--primary-text-color);
    align-items: center;
}
.contact-header:hover, .contact-header:focus{
    color:var(--accent-text-color);
}

.contact {
    text-decoration: none;
}

.contact:hover, .contact:focus{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.item-contact {
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-icon{
    display: flex;
    align-items: center; 
    fill: currentColor;
    margin-right: 10px; 
}

/*відступи між .list .contact*/
.list .item-contact {
    margin-right: 50px;
}

.list .item-contact:last-child {
    margin-right: 0px;
}

/* footer */
.footer-position{
display: flex;
flex-direction: row;
gap: 70px;
}

.footer-position-part{
align-items: center;
}

footer{
    background-color: var(--footer-background-color);
    display: list-item;
    }

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-contact {
    color: var(--second-text-color-footer);
    text-decoration: none;
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    cursor: pointer;

}

.list.address {
    display: block;
}

.logo .studio-footer {
    color: var(--second-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    margin-top: 0px;
}

div.footer-logo{
    margin-bottom: 20px;
}

/* address foter */
.adress {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 9px;
}

address{
    font-style: normal;
}

li.address-footer{
    margin-bottom: 9px;
}

.city {
    color: var(--second-text-color);
    text-decoration: none;
    line-height: 1.71;
    font-size: 14px;
    }
.city:hover, .city:focus{
    color: var(--accent-text-color);
    }

.contact-footer {
    line-height: 1.71;
    font-size: 14px;
    font-size: 14px;
    text-decoration: none;
    }

.mail-number{
    color: var(--second-text-color-footer);
    text-decoration: none;
}

.mail-number:hover,
.mail-number:focus {
    color: var(--accent-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.footer-text{
font-style: normal;
font-weight: 700;
line-height: 16px;

color: var(--second-text-color);
}
.social{
    background-color:var(--footer-background-icon);
}
.cards-img-icon .img-footer:hover, 
.cards-img-icon .img-footer:focus{
    background-color: var(--accent-text-color);
}

.cards-icon.icon-footer{
fill:var(--second-text-color);
}
.cards-icon:focus{
    fill:var(--second-text-color);
}

/*main index*/
/* hero */
.hero-background {
        background-color: var(--footer-background-color);
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./background-hero-img.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 1600px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
}

.section-hero{
padding-left: 15px;
padding-right: 15px;
margin-top: 80px;
}

.hero{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--second-text-color);
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 30;
}

.button.primary {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    height: 50px;
    margin-bottom: 0px;

/*по центрі кнопка не знаю чи так*/
    margin: auto;
    display: block;
    
    color: var(--second-text-color);
    background-color: var(--accent-text-color);
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    text-align: center;
}

.button.primary:hover, .button.primary:focus {
    color: var(--accent-text-color);
    background-color: var(--second-text-color);
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
}

/*переваги*/
/* section title */
.decoration-icons{
    display:flex;
    gap: 30px;

}

.feauter-section-img{
display: flex;
justify-content: center;
align-items: center;
width: 270px;
height: 120px;
background-color: var(--second-background-color);
border-radius: 4px;
margin-bottom: 30px;

}

.feauter-section-icon{
width: 70px;
height: 70px;
}

.section-first {
padding-top: 94px;
padding-bottom: 94px;
}

.item-section {
    width: 270px;
    height: 98px;
}

.list.feauter-section{
    display: flex;
    gap: 30px;
}

.section .section-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
margin-top: 0;
margin-bottom: 10px;
}
/* section text  */
.section .section-text{
    color: var(--primary-text-color);
    line-height: 1.7;
    margin-top: 0px;
}

/* section Чим ми займаємось*/
/* h2  */
.section .photos {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    position: relative;
}

.photos::after{
    content: "ДЕСКТОПНІ ДОДАТКИ";
    color: var(--second-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    align-items: center;
    padding: 27px 107px;

    position: absolute;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0px;
}

.photos.photos-second::after{
    content: "МОБІЛЬНІ ДОДАТКИ";
}

.photos.photos-third::after{
    content: "ДИЗАЙНЕРСЬКІ РІШЕННЯ";
    padding: 27px 90px;
    align-items: center;
    
}


ul.list{
    margin-top: 0px;
    margin-bottom: 0px;
}
.list-pictures {
    display: flex;
    gap: 30px;
}

.main-pictures {
    padding-bottom: 94px;
}


/*section наша команда*/
.list-card{
    display: flex;
    gap: 30px;
}

.team{
    background-color: var(--second-background-color);
}
.section-team{
    padding-top: 94px;
    padding-bottom: 94px; 
}

.list .card{
    background-color: var(--second-text-color);
}

/* наша команда */
/*чим ми займаємось-заголовок*/
.section .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0px;
    margin-bottom: 50px;
}
li.card {
    padding-top: 0px;
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.card .images {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.card-member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-title.members {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;

        margin-top: 0px;
        margin-bottom: 10px;
}

.card-text.members {
        font-size: 16px;
        line-height: 1.18;
        color: var(--primary-text-color);
        margin-top: 0px;
        margin-bottom: 10px;
}

/*ikonki dla kartek*/
.cards-img{
 display: flex;
 gap: 10px;
}

.cards-img-icon{
display: flex;
justify-content: center;
align-items: center;

width: 44px;
height: 44px;
border-radius: 50%;
}

.cards-img-icon:hover,
.cards-img-icon:focus {
    background-color: var(--accent-text-color);
    cursor: pointer;
    fill:var(--second-text-color);
}


.cards-icon{
fill: var(--logo-color);
}

.cards-img-icon:hover .cards-icon,
.cards-img-icon:focus .cards-icon{
fill:var(--second-text-color);
}

/* section client*/
.section-logo{
    padding-top: 94px;
    padding-bottom: 94px;
}
.header-client{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 50px;
}

.header-decoration{
    position: relative;
}
.header-decoration::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 48px;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
}

.header-decoration-portfolio{
    position: relative;
}
.header-decoration-portfolio::after{
    position: absolute;
    bottom: 0;
    left: 93px;
    content: "";
    width: 78px;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
}

.clients-logoes{
    display: flex;
    flex-direction: row;
    gap:30px;
}
.clients-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    background-color: var(--second-text-color);
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
}
.clients-img:hover, .clients-img:focus{
    border: 1px solid var(--accent-text-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.clients-icon{
    fill:var(--logo-color);
    width: 170px;
    height: 92px;
}

.clients-img:hover .clients-icon, .clients-img:focus .clients-icon{
    fill:var(--accent-text-color);
}


/*portfolio*/
.section-secondary{
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 80px;
}

/* button */
.list.button{
display: flex;
justify-content: center;
margin-top: 0px;
margin-bottom: 50px;
gap: 8px;
}

/* li.card-border {
    border: 1px solid var(--card-border);
}
*/


li.card-border:nth-child(7){
    margin-bottom: 0px;
}
li.card-border:nth-child(8) {
    margin-bottom: 0px;
}
li.card-border:nth-child(9) {
    margin-bottom: 0px;
}
 
.button .secondary {
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 4px;
    padding: 6px 25px;
    min-width: 73px;
    height: 38px;

    color: var(--title-text-color);
    background-color: var(--button-background-color);
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
}

.button .secondary:hover, .button .secondary:focus {
    color: var(--second-text-color);
    background-color: var(--accent-text-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/*img porfolio*/
.portfolio-link:hover, .portfolio-link:focus{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.decoration-images{
    margin-top: 0px;
    margin-bottom: 0px;
}

div.portfolio-card {
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid var(--card-border);
}

.cards-portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* title */
a .portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    text-decoration: none;

    margin-top: 0px;
    margin-bottom: 4px;
}
/* text */
a .portfolio-text{
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
    text-decoration: none;

    margin-top: 0px;
    margin-bottom: 0px;
}


/* modal*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--second-text-color);
    border-radius: 4px;

    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-close-button{
    display: flex;
    align-items: center;
    position: relative;
    top: 8px;
    right: 8px;
    left: 490px;
    bottom: 543px;
    width: 30px;
    height: 30px;
    border:0;
    background-color: var(--second-text-color);
}

.thumb > img{
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 1;
    margin-top: -14px;
    margin-left: -6px;
}
